// Variáveis de cor
$primary-color: #A27B5C; // Cor primária
$secondary-color: #FCF7EF; // Cor secundária
$tertiary-color: #C67C4E; // Cor terciária

// Cores básicas
$white: #FFFFFF; // Branco
$black: #121212; // Preto escuro
$black-default: #000000; // Preto padrão
$black-light: #313131; // Preto claro

// Outros
$background-color-primary: #FCF7EF; // Cor de fundo
$background-color-secondary: #C67C4E;
$text-color: #313131; // Cor do texto
